<form>
  <div>
    <label for="nome">
      Nome
    </label>
    <input id="nome" type="text" name="nome" [(ngModel)]="candidato.nome">
    <button type="button" (click)="createCandidate()">Adicionar</button>
  </div>
  <div>
    <label for="codCandidato">
      Código do candidato
    </label>
    <input id="codCandidato" type="text" name="codCandidato" [(ngModel)]="candidato.codCandidato">
    <div *ngFor="let btn of buttons" ngClass="buttons-row">
      <button type="button" (click)="btn.func()">{{ btn.title }}</button>
    </div>
  </div>
</form>
